  <div class="dropdown">
        <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">Choose From Menu
          <span class="caret"></span></button>
          <div class="dropdown-menu">
            <div class="input-group form-group">
              <span class="input-group-addon">
                <input id="option_1" name="option_1" type="checkbox" aria-label="...">
              </span>
              <input type="text" class="form-control" aria-label="..." value="Maths">
            </div>

            <div class="input-group form-group">
              <span class="input-group-addon">
                <input id="option_1" name="option_1" type="checkbox" aria-label="...">
              </span>
              <input type="text" class="form-control" aria-label="..." value="Science">
            </div>

            <div><button type="submit" class="btn btn-primary">Submit</button></div>
          </div>
        </div><br>
